* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #181825;
}

#workspaces button {
    padding: 5px;
    color: #181825;
    margin-right: 5px;
}

#workspaces button.active {
    color: #eff1f5;
}

#workspaces button.focused {
    color: #181825;
    background: #cba6f7;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #181825;
    background: #cba6f7;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #89b4fa;
    color: #11111b; 
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: #cba6f7;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 1px solid #181825; */
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #cba6f7;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    color: #181825;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    color: #181825;
    border-radius: 10px 0px 0px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #181825;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #181825;
    border-radius: 10px 0px 0px 10px;

}

#pulseaudio {
    color: #181825;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #181825;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #181825;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
